body {
    background: #fefefe !important;
    #vue-root {
        background: inherit;
        z-index: 2;
    }
}


.icon {
    vertical-align: middle;
    margin-bottom: 3px;
}


/* Thanks hackingui.com */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1){
    overflow: hidden;
    position: relative;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    &:before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
    }
}

.block-with-text {
    @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3);
}

/* #contact-us { */
/*     border: 1px solid white; */
/*     display: inline; */
/* } */
