body {
    background: #fefefe !important;
    #vue-root {
        background: inherit;
        z-index: 2;
    }
}


.icon {
    vertical-align: middle;
    margin-bottom: 3px;
}


/* #contact-us { */
/*     border: 1px solid white; */
/*     display: inline; */
/* } */
