@import "custom-color-variables";
@import "custom-variables";


@font-face {
    font-family: 'GlacialIndifference-Bold';
    /* Relative paths since sass-loader cannot resolve URL */
    src: url('../../assets/fonts/GlacialIndifference-Bold.ttf') format('truetype'),
         url('../../assets/fonts/GlacialIndifference-Bold.otf') format('opentype');
}

.viewport-header {
    text-align: center;
    width: 100%;
    color: white;
    position: fixed;
    left: 50%;
    @media #{$small-and-down} {
        top: 20vh;                  /*offset with top edge*/
    }
    @media #{$medium-and-up} {
        top: 30vh;                  /*offset with top edge*/
    }
    transform: translate(-50%, 0);
    h2 {
        font-family: 'GlacialIndifference-Bold';
    }
    .btn-large {
        margin: 4vw;
    }
}

video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    bottom: 0;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, 0);
}


.landing-news {
    background: #f4f4f4;
    position: relative;
    width: 100%;
    @media #{$small-and-down} {
        margin-top: calc(100vh - #{$navbar-height-mobile});
    }
    @media #{$medium-and-up} {
        margin-top: calc(100vh - #{$navbar-height});
    }
}
