@import "custom-color-variables";
@import "custom-variables";


@font-face {
    font-family: 'GlacialIndifference-Bold';
    src: url("../fonts/GlacialIndifference-Bold.ttf") format('truetype'),
         url("../fonts/GlacialIndifference-Bold.otf") format('opentype');
}

.viewport-header {
    text-align: center;
    width: 100%;
    color: white;
    position: fixed;
    left: 50%;
    top: 30vh;                  /*offset with top edge*/
    transform: translate(-50%, 0);
    h2 {
        font-family: 'GlacialIndifference-Bold';
    }
    .btn-large {
        margin: 4vw;
    }
}

video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    bottom: 0;
    z-index: -1;
}


.landing-news {
    background: #dfdfdf;
    position: relative;
    width: 100%;
    margin-top: calc(100vh - #{$navbar-height});
}
