@import "custom-materialize";

.card.post {
    .card-content {
        p {
            em {
                color: color("grey", "darken-3");
                font-size: 0.8em;
            }
            margin-bottom: 1.5em;
        }
    }
}
