/* From bootstrap */
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

/* Custom */
$tb-black: #111617;
$tb-black-light: #273234;
$tb-yellow: #d6b92b;
$tb-red: #e11e26;
$victory: #dcedc8;
$defeat: #f8c1c3;
$tie: #FFF9D7;

$cool-green: #59ffa0;
