@import "~assets/css/custom-bootstrap.scss";

@font-face {
    font-family: 'Creo Bold';
    src: url("~assets/fonts/creo-bold.ttf") format('truetype');
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Creo Bold";
}

.creo-font {
    font-family: "Creo Bold";
}

body {
    padding-top: $navbar-brand-height + 1.5rem;
    /* font-size: 1rem; */
}

/* Vue Gallery global css */
.vue-gallery-image {
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #ebebeb;
    margin: 5px;
    cursor: pointer;
}

.transparent {
    background-color: transparent;
}
