{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
   <head>
      <title>Touch Belgium</title>
      <meta charset="utf-8">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name=viewport content="width=device-width, initial-scale=1">

      <!-- icons -->
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'webpack_bundles/icons/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'webpack_bundles/icons/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'webpack_bundles/icons/favicon-16x16.png' %}">
      <link rel="manifest" href="{% static 'webpack_bundles/icons/manifest.json' %}">
      <link rel="mask-icon" href="{% static 'webpack_bundles/icons/safari-pinned-tab.svg' %}" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#2b5797">
      <meta name="theme-color" content="#ffffff">

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      {% render_bundle 'main' %}
   </head>
   <body>
      <nav class="nav-extended">
         <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
               <li><a href="sass.html">Sass</a></li>
               <li><a href="badges.html">Components</a></li>
               <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
         </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
         <li><a href="sass.html">Sass</a></li>
         <li><a href="badges.html">Components</a></li>
         <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
      <div class="container">
         {% block content %}
         {% endblock %}
      </div>
   </body>
</html>
