{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
   <head>
      <title>Touch Belgium</title>
      <meta charset="utf-8">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name=viewport content="width=device-width, initial-scale=1">

      <!-- icons -->
      <link rel="apple-touch-icon" sizes="57x57" href="{% static 'webpack_bundles/icons/apple-touch-icon-57x57.png' %}">
      <link rel="apple-touch-icon" sizes="60x60" href="{% static 'webpack_bundles/icons/apple-touch-icon-60x60.png' %}">
      <link rel="apple-touch-icon" sizes="72x72" href="{% static 'webpack_bundles/icons/apple-touch-icon-72x72.png' %}">
      <link rel="apple-touch-icon" sizes="76x76" href="{% static 'webpack_bundles/icons/apple-touch-icon-76x76.png' %}">
      <link rel="apple-touch-icon" sizes="114x114" href="{% static 'webpack_bundles/icons/apple-touch-icon-114x114.png' %}">
      <link rel="apple-touch-icon" sizes="120x120" href="{% static 'webpack_bundles/icons/apple-touch-icon-120x120.png' %}">
      <link rel="apple-touch-icon" sizes="144x144" href="{% static 'webpack_bundles/icons/apple-touch-icon-144x144.png' %}">
      <link rel="apple-touch-icon" sizes="152x152" href="{% static 'webpack_bundles/icons/apple-touch-icon-152x152.png' %}">
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'webpack_bundles/icons/apple-touch-icon-180x180.png' %}">

      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'webpack_bundles/icons/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'webpack_bundles/icons/favicon-16x16.png' %}">
      <link rel="manifest" href="{% static 'webpack_bundles/icons/manifest.json' %}">

      <meta name="msapplication-config" content="{% static 'webpack_bundles/icons/browserconfig.xml' %}" />
      <meta name="msapplication-TileColor" content="#2b5797">
      <meta name="theme-color" content="#ffffff">

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      {% render_bundle 'main' %}
      {% block extra_bundle %}{% endblock %}
   </head>
   <body>
      <div class="navbar-fixed">
         <nav>
            <div class="nav-wrapper">
               <a href="{% url 'index' %}" class="brand-logo"><img src="https://s3-eu-west-1.amazonaws.com/touchbelgium/media/keep/logo.png" style="height: 64px" alt="TB logo" /></a>
               <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
               <ul id="nav-mobile" class="right hide-on-med-and-down">
                  {% include "partials/nav_links.html" %}
               </ul>
            </div>
         </nav>
      </div>

      <ul class="sidenav" id="mobile-demo">
         {% include "partials/nav_links.html" %}
      </ul>
      {% block content %}
      {% endblock %}
      <footer class="page-footer">
         <div class="container">
            <div class="row">
               <div class="col l6 s12">
                  <h5 class="white-text">Footer Content</h5>
                  <p class="grey-text text-lighten-4">Facebook links, instagram,etc.</p>
               </div>
               <div class="col l4 offset-l2 s12">
                  <h5 class="white-text">Links</h5>
                  <ul>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                     <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="footer-copyright">
            <div class="container">
               © 2018 Touch Belgium
               <a class="grey-text text-lighten-4 right" href="#!">More Links?</a>
            </div>
         </div>
      </footer>
   </body>
</html>
