{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
   <head>
      <title>🇧🇪 Touch Belgium</title>
      <meta charset="utf-8">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name=viewport content="width=device-width, initial-scale=1">

      <!-- icons -->
      <link rel="apple-touch-icon" sizes="57x57" href="{% static 'webpack_bundles/icons/apple-touch-icon-57x57.png' %}">
      <link rel="apple-touch-icon" sizes="60x60" href="{% static 'webpack_bundles/icons/apple-touch-icon-60x60.png' %}">
      <link rel="apple-touch-icon" sizes="72x72" href="{% static 'webpack_bundles/icons/apple-touch-icon-72x72.png' %}">
      <link rel="apple-touch-icon" sizes="76x76" href="{% static 'webpack_bundles/icons/apple-touch-icon-76x76.png' %}">
      <link rel="apple-touch-icon" sizes="114x114" href="{% static 'webpack_bundles/icons/apple-touch-icon-114x114.png' %}">
      <link rel="apple-touch-icon" sizes="120x120" href="{% static 'webpack_bundles/icons/apple-touch-icon-120x120.png' %}">
      <link rel="apple-touch-icon" sizes="144x144" href="{% static 'webpack_bundles/icons/apple-touch-icon-144x144.png' %}">
      <link rel="apple-touch-icon" sizes="152x152" href="{% static 'webpack_bundles/icons/apple-touch-icon-152x152.png' %}">
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'webpack_bundles/icons/apple-touch-icon-180x180.png' %}">

      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'webpack_bundles/icons/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'webpack_bundles/icons/favicon-16x16.png' %}">
      <link rel="manifest" href="{% static 'webpack_bundles/icons/manifest.json' %}">

      <meta name="msapplication-config" content="{% static 'webpack_bundles/icons/browserconfig.xml' %}" />
      <meta name="msapplication-TileColor" content="#2b5797">
      <meta name="theme-color" content="#ffffff">

   </head>
   <body>
      <div id="vue-root">
         <div class="navbar-fixed">
            <nav>
               <div class="nav-wrapper">
                  <div class="left">
                     <a href="{% url 'index' %}" class="brand-logo"><img src="{% static 'img/logo-tb.png' %}" style="height: 64px" alt="TB logo" /></a>
                  </div>
                  <div class="social-links-navbar left hide-on-med-and-down">
                     <a target="_blank" href="https://www.instagram.com/touchbelgium/">
                        <div class="icon-insta" data-icon="ei-sc-instagram" data-size="m"></div>
                     </a>
                     <a target="_blank" href="https://facebook.com/touchbelgium">
                        <div class="icon-fb" data-icon="ei-sc-facebook" data-size="m"></div>
                     </a>
                     <a target="_blank" href="https://twitter.com/touchbelgium">
                        <div class="icon-twitter" data-icon="ei-sc-twitter" data-size="m"></div>
                     </a>
                     <a target="_blank" href="https://www.youtube.com/playlist?list=PLtSZiW1M9VjkRkxrrWVNHRgvm-m7VzOMT">
                        <div class="icon-yt" data-icon="ei-sc-youtube" data-size="m"></div>
                     </a>
                  </div>


                  <ul id="events" class="dropdown-content">
                     <li><a href="#!">Tournaments and results</a></li>
                     <li><a href="#!">Calendar</a></li>
                     <!-- <li class="divider"></li> -->
                     <li><a href="#!">AGM</a></li>
                  </ul>

                  <ul id="get_involved" class="dropdown-content">
                     <li><a href="#!">Where to play</a></li>
                     <li><a href="#!">Referees</a></li>
                     <li><a href="#!">Coaches</a></li>
                     <li><a href="#!">National teams</a></li>
                  </ul>

                  <ul id="about" class="dropdown-content">
                     <li><a href="#!">What is touch?</a></li>
                     <li><a href="#!">Where to play</a></li>
                     <li><a href="#!">Training/courses</a></li>
                     <li><a href="#!">Rules and regulations</a></li>
                  </ul>

                  <ul id="tb" class="dropdown-content">
                     <li><a href="#!">Members</a></li>
                     <li><a href="#!">Committee</a></li>
                     <li><a href="#!">Contact</a></li>
                  </ul>

                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                     <li><a href="{% url 'news' %}">News</a></li>
                     <li><a class="dropdown-trigger" href="#" data-target="events">Events</a></li>
                     <li><a class="dropdown-trigger" href="#" data-target="get_involved">Get Involved</a></li>
                     <li><a class="dropdown-trigger" href="#" data-target="about">About Touch</a></li>
                     <li><a href="{% url 'news' %}">Sponsorship</a></li>
                     <li><a class="dropdown-trigger" href="#" data-target="tb">Touch Belgium</a></li>
                  </ul>

                  <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><div data-icon="ei-navicon" data-size="m"></div></a>

                  <!-- Contact us comes after in here but it is shown before the rest of the menu items (wanted)  -->
                  <!-- <div id="contact-us" class="right hide-on-med-and-down">
                       <span>Contact us !</span>
                       </div> -->
               </div>
            </nav>
         </div>

         <ul class="sidenav" id="mobile-demo">
            <li class="no-padding">
               <a class="collapsible-header" href="{% url 'news' %}">News</a>
            </li>
            <li class="no-padding">
               <ul class="collapsible collapsible-accordion">
                  <li>
                     <a class="collapsible-header">Events</i></a>
                     <div class="collapsible-body">
                        <ul>
                           <li><a href="#!">Tournaments and results</a></li>
                           <li><a href="#!">Calendar</a></li>
                           <li><a href="#!">AGM</a></li>
                        </ul>
                     </div>
                  </li>
               </ul>
            </li>
            <li class="no-padding">
               <ul class="collapsible collapsible-accordion">
                  <li>
                     <a class="collapsible-header">Get Involved</i></a>
                     <div class="collapsible-body">
                        <ul>
                           <li><a href="#!">Where to play</a></li>
                           <li><a href="#!">Referees</a></li>
                           <li><a href="#!">Coaches</a></li>
                           <li><a href="#!">National teams</a></li>
                        </ul>
                     </div>
                  </li>
               </ul>
            </li>
            <li class="no-padding">
               <ul class="collapsible collapsible-accordion">
                  <li>
                     <a class="collapsible-header">About Touch</i></a>
                     <div class="collapsible-body">
                        <ul>
                           <li><a href="#!">What is touch</a></li>
                           <li><a href="#!">Where to play</a></li>
                           <li><a href="#!">Training/courses</a></li>
                           <li><a href="#!">Rules and regulations</a></li>
                        </ul>
                     </div>
                  </li>
               </ul>
            </li>
            <li class="no-padding">
               <a class="collapsible-header" href="{% url 'news' %}">Sponsorship</a>
            </li>
            <li class="no-padding">
               <ul class="collapsible collapsible-accordion">
                  <li>
                     <a class="collapsible-header">Touch Belgium</i></a>
                     <div class="collapsible-body">
                        <ul>
                           <li><a href="#!">Members</a></li>
                           <li><a href="#!">Committee</a></li>
                           <li><a href="#!">Contact</a></li>
                           <li><a href="#!">Fourth</a></li>
                        </ul>
                     </div>
                  </li>
               </ul>
            </li>
         </ul>
         {% block content %}
         {% endblock %}
         <footer class="page-footer">
            <div class="container">
               <div class="row">
                  <div class="col l6 s12">
                     <h5 class="white-text">Find us on social media !</h5>
                     <ul>
                        <li><a target="_blank" class="grey-text text-lighten-3" href="https://facebook.com/touchbelgium"><div data-icon="ei-sc-facebook"></div><span>Facebook</span></a></li>
                        <li><a target="_blank" class="grey-text text-lighten-3" href="https://www.instagram.com/touchbelgium/"><div data-icon="ei-sc-instagram"></div>Instagram</a></li>
                        <li><a target="_blank" class="grey-text text-lighten-3" href="https://twitter.com/touchbelgium?lang=en"><div data-icon="ei-sc-twitter"></div><span>Twitter</span></a></li>
                        <li><a target="_blank" class="grey-text text-lighten-3" href="https://www.youtube.com/playlist?list=PLtSZiW1M9VjkRkxrrWVNHRgvm-m7VzOMT"><div data-icon="ei-sc-youtube"></div>YouTube</a></li>
                     </ul>
                  </div>
                  <div class="col l4 offset-l2 s12">
                     <h5 class="white-text">More</h5>
                     <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">FIT</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">EFT</a></li>
                        <li><a class="grey-text text-lighten-3" href="/api">API</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">GitHub</a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="footer-copyright">
               <div class="container">
                  © 2018 Touch Belgium
               </div>
            </div>
         </footer>
      </div>
      {% block external_deps %}{% endblock %}
      {% render_bundle 'main' %}
      {% block extra_bundle %}{% endblock %}
   </body>
</html>
