{% extends 'base.html' %}

{% load render_bundle from webpack_loader %}
{% load static %}
{% block extra_bundle %}
{% render_bundle 'landing' %}
{% endblock %}

{% block content %}

<video poster="" id="bgvid" playsinline autoplay muted loop>
   <source src="{% static 'video/splash.webm' %}" type="video/webm">
   <source src="{% static 'video/splash.mp4'  %}" type="video/mp4">
</video>

<div class="viewport-header">
   <h2>Catchy and powerful motto goes here.</h2>
   <a class="waves-effect waves-light btn-large">Where to play</a>
   <a class="waves-effect waves-light btn-large">What is touch</a>
</div>

<div class="landing-news">
   <Blog post-number="3"></Blog>
   <a href="{% url 'news' %}">See all news</a>
</div>


{% endblock %}
