{% extends 'base.html' %}

{% load render_bundle from webpack_loader %}
{% load static %}
{% block external_deps %}
<script src="https://apis.google.com/js/api.js"></script>
{% endblock %}
{% block extra_bundle %}
{% render_bundle 'landing' %}
{% endblock %}

{% block content %}

<video poster="" id="bgvid" playsinline autoplay muted loop>
   <source src="{% static 'video/splash.webm' %}" type="video/webm">
   <source src="{% static 'video/splash.mp4'  %}" type="video/mp4">
</video>

<div class="viewport-header valign-wrapper">
   <!-- <h2 class="center-align">Six players, six touches, one team !</h2> -->
   <h2 class="center-align">Ready to take on the challenge ?</h2>
   <a class="waves-effect waves-light btn-large">What is touch</a>
   <a class="waves-effect waves-light btn-large">Where to play</a>
</div>

<div class="landing-body">
   <div class="container">
      <div class="row">
         <h2>Latest news</h2>
      </div>
   </div>
   <Blog post-number="6"></Blog>
   <!-- <a href="{% url 'news' %}" class="center-align">See all news</a> -->
   <div class="container">
      <div class="row">
         <h2>Events</h2>
      </div>
   </div>
   <Calendar></Calendar>

</div>



{% endblock %}
